SPRING_PROFILES_ACTIVE=prod
APP_ENV=prod
PORT=4108
DB_URL=jdbc:postgresql://<host>:5432/trading_futuros?currentSchema=futuros_operaciones
DB_USER=<user>
DB_PASSWORD=<password>
SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
SPRING_FLYWAY_BASELINE_VERSION=20260530
KAFKA_LISTENER_AUTO_STARTUP=true
ENGINE_COPY_LOCK_PROVIDER=postgres
HYPERLIQUID_DIRECT_INGEST_DISTRIBUTED_DEDUPE_ENABLED=true
HYPERLIQUID_DIRECT_INGEST_FAIL_OPEN_ON_DEDUPE_ERROR=false
