server:
  port: ${PORT:4108}

rest-client:
  metric-wallet:
    info-base: ${URL_METRIC:http://192.168.1.123:4102}
  binance-service:
    info-base: ${URL_BINANCE:http://192.168.1.123:4106}

logging:
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-5level) %clr([%t]){faint} %clr(%logger{36}){cyan} : %msg%n%wex'

spring:
  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: ${DB_URL:jdbc:postgresql://192.168.1.123:5432/trading_futuros}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:5450940}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        default_schema: ${DB_SCHEMA:futuros_operaciones}
        jdbc.time_zone: UTC
        format_sql: true

  kafka:
    bootstrap-servers: ${KAFKA_BROKERS:192.168.1.123:9094}
    consumer:
      group-id: operaciones-consumer
      max-poll-records: 10
      properties:
        max.poll.interval.ms: 900000

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

app:
  kafka:
    topics:
      operaciones: operaciones-eventos

binance:
  dispatch:
    delay-ms: 100
    pool-size: 4
